# Python Web Framework
Flask
Flask-CORS

# Google Services & AI
firebase-admin
google-generativeai
google-api-core
google-genai

# Caching & Background Tasks
redis
celery
eventlet

# Configuration
python-dotenv

# Text Processing & Markdown
markdown
html2text
langchain-text-splitters

# File System, Hashing, and Git Integration
GitPython

# Image & PDF Processing
pytesseract
Pillow
PyPDF2
PyMuPDF
opencv-python
numpy
comtypes
pywin32

# AI Vector/Embedding logic
faiss-cpu
sentence-transformers
tiktoken
requests

# browser
playwright